@import url(http://fonts.googleapis.com/css?family=Palanquin+Dark:400,600);
  
body {
        background-color: #fff;
        margin-top:40px;
        margin-left:40px;
        margin-right:40px;
      }
a {
        font-family: 'Palanquin Dark', sans-serif;
        text-decoration:none;
        list-style-type: disc;
        color:#09f;
        position: relative;
        left: 0px;
      }
a:hover {
        font-family: 'Palanquin Dark', sans-serif;
        background-color:#09f;
        list-style-type: disc;
        color:#fff;
        position: relative;
        left: 0px;
      }

 h1 {
        font-family: 'Palanquin Dark', sans-serif;
        font-weight: 500;
        line-height: 1.1;
        color:#09f;
      }